@font-face {
    font-family: Mozilla Text;
    src: url(../fonts/MozillaText-Regular.ttf);
}

body {
    font-family: Mozilla Text;
    font-size: 20px;
    text-align: center;
    background-color: #02040f;
    color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 46px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
}

h1 a:link {
    text-decoration-thickness: 4px;
}

h2 a:link {
    text-decoration-thickness: 3px;
}

a {
    color: #ffffff;
    text-decoration-line: underline;
    text-decoration-color: #9c0002;
}

a:hover {
    text-decoration-color: #ff8a00;
    transition: text-decoration-color 0.125s;
    transition-timing-function: ease-in-out;
}

a:active {
    text-decoration-color: #abff00;
}


p {
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    margin: 5px;
}

li a:link {
    text-decoration-thickness: 2px;
}

small {
    font-size: 14px;
    color: #B1BAB1;
}
